*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #EEE;
    font-family: 'Roboto', sans-serif;
    
}

p{
    font-size: 15px;
}

.container{
    max-width: 1000px;
    background-color: #E4F9F5;
    margin: 0 auto;
    padding: 20px;
}

header{

}

.profile-image{
    width: 100px;
    height: 120px;
    border: 3px solid white;
    border-radius: 50%;
    float:left;
}

.header-bio{
    float: left;
    padding: 30px;
}

h1, h2, h3, h4, h5, h6{
    color: #11999e;
}

.header-contact{
    float: right;
    padding: 30px;
}

.header-contact a{
    text-decoration: none;
    color: #11999e;
    font-weight: bold;

}

.header-contact a:hover{
    text-decoration: underline;
    color:tomato;
    

}

.div-clear{
    clear:both;
}

hr{
    border: solid black 3px;
    width:100%;
    margin: 20px auto;
    border-bottom: none;
}

/*-----------------------------------------------
PERSONAL SECTION
-----------------------------------------------*/
#personal-section{

}

.content{
    margin: 30px;
}

.left-div{
    width: 30%;
    float: left;
}

.right-div{
    width: 70%;
    float: left;
}

/*-----------------------------------------------
COMMON UNDERLINE DESIGN
-----------------------------------------------*/
.common-hr{
    border: solid black 1px;
    border-bottom: none;
    width:100%;
    margin: 20px auto;
}

/*-----------------------------------------------
LIST ITEM
-----------------------------------------------*/
ul li{
    list-style-type:disc;
}

ul li:hover{
    color: rgb(108, 99, 241);
}

/*-----------------------------------------------
EDUCATION SECTION
-----------------------------------------------*/

.edu-left{
    float:left;
    width:45%;
}

.edu-right{
    float:right;
    width:45%;
}

/*-----------------------------------------------
FOOTER SECTION
-----------------------------------------------*/
.bottom-container{
    background-color: black;
    padding: 10px;
    text-align:center;

}

.bottom-container a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 20px;
}

.bottom-container a:hover{
    text-decoration: none;
    color: rgb(241, 201, 126);
}

.bottom-container p{
    color: white;
    margin-top: 20px;
}